[BUG] contentType

**Describe the bug**
The explanation for contentType in _5.3.7.4 Blob Attributes_ is incorrect, it shouldn't talk about a file. 

And in general the references to RFCs 2045 and 2046 are not optimal. RFC2045 is only of historical interest, whereas RFC2046 explains the principles. Especially missing is a reference to [RFC2048 ](https://www.rfc-editor.org/rfc/rfc2048) and the direct link to the resource with registered MediaTypes: https://www.iana.org/assignments/media-types/media-types.xhtml
I propose to improve and concentrate these explanations and references for ContentType in Table 8 and align the text in the BLOB section to the ones for Resource and File.

**Where**
**Screenshots**
<img width="932" height="882" alt="Image" src="https://github.com/user-attachments/assets/e81b6873-9448-4e83-9fa0-d774318ef964" />

<img width="1012" height="740" alt="Image" src="https://github.com/user-attachments/assets/fd915b5b-8f38-47ff-90c8-4aeb6fad7cde" />

<img width="637" height="525" alt="Image" src="https://github.com/user-attachments/assets/b254574e-664b-44d2-986e-a45dbed9b92f" />


Yes, bug is a bit of a misclassification for this. Proposal for improvement fits indeed better.

I agree, we should add Reference to RFC2048 and add the link

RFC 2048 specified various IANA registration procedures for MIME-related facilities. 
RFC 2046 specified the structure and syntax of MIME Media Types
We should add the link to IANA https://www.iana.org/assignments/media-types/media-types.xhtml

We can remove this historical part.



TF Metamodel: proposal as described in https://github.com/admin-shell-io/aas-specs-metamodel/issues/604#issuecomment-3092449997 accepted